In [ ]:
import pandas as pd
data=pd.read_csv('produt_sale.csv')

In [ ]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [ ]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
classifier.predict([[27,150000]])

array([0])

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(classifier.predict(X_test),Y_test))

0.625